<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="myBeanPostProcessor" class="com.lex.life.cycle.MyBeanPostProcessor" />
    <bean name="personBean" class="com.lex.life.cycle.PersonBean"
          init-method="init" destroy-method="destroyMethod">
        <property name="personId" value= "123456789"/>
        <property name="name" value="Lex" />
    </bean>

</beans>