<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="yml" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean">
        <property name="resources" value="classpath:student-info.yml"/>
    </bean>
    <context:property-placeholder properties-ref="yml"/>

    <!--    <context:property-placeholder location="classpath:student-info.properties"/>-->

    <bean id="student" class="com.lex.practice.Student">
        <!--        <property name="name" value="${student.name}"/>-->
        <!--        <property name="interestedCourse" value="${student.interestedCourse}"/>-->
        <!--        <property name="hobby" value="${student.hobby}"/>-->

        <!--        <constructor-arg name="name" value="${student.name}" type="java.lang.String"/>-->
        <!--        <constructor-arg name="interestedCourse" value="${student.interestedCourse}" type="java.lang.String"/>-->
        <!--        <constructor-arg name="hobby" value="${student.hobby}" type="java.lang.String"/>-->
    </bean>


</beans>